version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      react-router:
        patterns:
          - "react-router"
          - "@react-router/*"
          - "@remix-run/*"
      react:
        patterns:
          - "react"
          - "react-dom"
          - "@types/react"
          - "@types/react-dom"
      emotion:
        patterns:
          - "@emotion/*"
      mui-x:
        patterns:
          - "@mui/x-*"
      mui:
        patterns:
          - "@mui/*"
        exclude-patterns:
          - "@mui/x-*"
      drizzle:
        patterns:
          - "drizzle-orm"
          - "drizzle-kit"
      typescript:
        patterns:
          - "typescript"
          - "typescript-eslint"
      eslint:
        patterns:
          - "eslint"
          - "@eslint/*"
      conform:
        patterns:
          - "@conform-to/*"

      patch:
        update-types: ["patch"]
        dependency-type: "production"
        exclude-patterns:
          - "react-router"
          - "@react-router/*"
          - "@remix-run/*"
          - "react"
          - "react-dom"
          - "@emotion/*"
          - "@mui/*"
          - "drizzle-orm"
          - "@conform-to/*"

      dev-minor-patch:
        update-types: ["minor", "patch"]
        dependency-type: "development"
        exclude-patterns:
          - "@react-router/*"
          - "@types/react"
          - "@types/react-dom"
          - "drizzle-kit"
          - "typescript"
          - "typescript-eslint"
          - "eslint"
          - "@eslint/*"

    open-pull-requests-limit: 20

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      minor-patch:
        update-types: ["major", "minor", "patch"]
